.author_div {
  text-align: center;
  padding: 1rem;
}
.author_div div {
  margin-bottom: 1rem;
}
.author_introduction {
  font-size: 0.8rem;
  color: #999;
}
.account {
  background-color: #999;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.comm_box {
  background-color: #fff;
  margin-left: 0.5rem;
  padding: 0.3rem;
  border-radius: 0.3rem;
  border: 1px solid #eee;
}
